---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.weibo.com/u/1692120221" target="_blank">
				<span class="sr-only">Follow Thirking on Weibo</span>
				<svg width="32" height="32" viewBox="0 0 32 32">
					<path
						d="M25.7786 17.5005C26.297 17.9066 26.6619 18.3947 26.8731 18.9651C27.0843 19.5354 27.1707 20.13 27.1323 20.7487C27.0939 21.3673 26.9595 21.986 26.7291 22.6047C26.4986 23.2234 26.201 23.7841 25.8362 24.2868C25.1833 25.1955 24.444 25.9689 23.6184 26.6069C22.7927 27.2449 21.9382 27.7766 21.0549 28.2019C20.1716 28.6273 19.2835 28.9608 18.3906 29.2025C17.4977 29.4441 16.6577 29.623 15.8704 29.739C15.0831 29.855 14.3774 29.9275 13.7534 29.9565C13.1293 29.9855 12.6445 30 12.2988 30C11.9532 30 11.4923 29.9758 10.9163 29.9275C10.3402 29.8792 9.70177 29.7825 9.0009 29.6375C8.30003 29.4925 7.56556 29.2895 6.79748 29.0285C6.0294 28.7675 5.28053 28.4243 4.55086 27.9989C3.82118 27.5736 3.12511 27.0516 2.46265 26.4329C1.80018 25.8142 1.23852 25.0698 0.777678 24.1998C0.470447 23.6391 0.264026 23.0397 0.158416 22.4017C0.0528053 21.7637 0 20.9517 0 19.9656C0 19.5403 0.0720072 19.0569 0.216022 18.5156C0.360036 17.9742 0.614462 17.3749 0.979298 16.7175C1.34413 16.0601 1.84338 15.3448 2.47705 14.5714C3.11071 13.7981 3.91719 12.9474 4.89649 12.0193C5.85659 11.1106 6.85029 10.3034 7.87759 9.59774C8.90489 8.89205 10.0042 8.34586 11.1755 7.95918C11.7132 7.76584 12.3084 7.65951 12.9613 7.64017C13.6142 7.62084 14.1518 7.72718 14.5743 7.95918C14.7663 8.17186 14.9487 8.38937 15.1215 8.61171C15.2943 8.83405 15.4095 9.10956 15.4671 9.43824C15.5248 9.70892 15.5296 9.96992 15.4815 10.2213C15.4335 10.4726 15.3807 10.724 15.3231 10.9753C15.2655 11.2266 15.2175 11.4683 15.1791 11.7003C15.1407 11.9323 15.1599 12.145 15.2367 12.3383C15.5632 12.377 15.88 12.3625 16.1872 12.2948C16.4944 12.2272 16.7921 12.1402 17.0801 12.0338C17.3681 11.9275 17.661 11.8163 17.9586 11.7003C18.2562 11.5843 18.5683 11.4973 18.8947 11.4393C19.4131 11.3426 19.9268 11.2991 20.4356 11.3088C20.9445 11.3185 21.4053 11.391 21.8182 11.5263C22.231 11.6617 22.5719 11.8695 22.8407 12.1498C23.1095 12.4302 23.2727 12.7927 23.3303 13.2374C23.3687 13.5081 23.3495 13.7594 23.2727 13.9914C23.1959 14.2234 23.1143 14.4409 23.0279 14.6439C22.9415 14.8469 22.8743 15.0548 22.8263 15.2675C22.7783 15.4801 22.7927 15.7025 22.8695 15.9345C22.9271 16.0698 23.0663 16.1955 23.2871 16.3115C23.508 16.4275 23.7624 16.5435 24.0504 16.6595C24.3384 16.7755 24.6409 16.9012 24.9577 17.0365C25.2745 17.1719 25.5482 17.3265 25.7786 17.5005ZM18.5203 26.5199C19.0195 26.2105 19.5236 25.7852 20.0324 25.2438C20.5413 24.7025 20.9541 24.0983 21.2709 23.4313C21.5878 22.7642 21.7654 22.0489 21.8038 21.2852C21.8422 20.5215 21.6502 19.753 21.2277 18.9796C20.8629 18.3416 20.4164 17.8002 19.8884 17.3555C19.3603 16.9108 18.7699 16.558 18.117 16.297C17.4641 16.036 16.7681 15.8475 16.0288 15.7315C15.2895 15.6155 14.5359 15.5575 13.7678 15.5575C12.2892 15.5575 10.9787 15.7121 9.83618 16.0215C8.69367 16.3308 7.70477 16.7368 6.86949 17.2395C6.0342 17.7422 5.35734 18.3126 4.83888 18.9506C4.32043 19.5886 3.9556 20.2363 3.74437 20.8937C3.53315 21.5317 3.47075 22.1649 3.55716 22.7932C3.64356 23.4216 3.84038 24.0161 4.14762 24.5768C4.45485 25.1375 4.85329 25.6402 5.34293 26.0849C5.83258 26.5295 6.37504 26.8872 6.9703 27.1579C8.06481 27.6412 9.18332 27.9458 10.3258 28.0714C11.4683 28.1971 12.5581 28.2019 13.595 28.0859C14.6319 27.9699 15.5776 27.7669 16.432 27.4769C17.2865 27.1869 17.9826 26.8679 18.5203 26.5199ZM14.7471 17.3555C15.1311 17.5102 15.4959 17.6842 15.8416 17.8776C16.1872 18.0709 16.4944 18.3319 16.7633 18.6606C16.9553 18.8926 17.1233 19.1826 17.2673 19.5306C17.4113 19.8786 17.5122 20.2508 17.5698 20.6472C17.6274 21.0435 17.6418 21.4447 17.613 21.8507C17.5842 22.2567 17.4929 22.6241 17.3393 22.9527C17.1857 23.3008 16.9985 23.6536 16.7777 24.0113C16.5569 24.369 16.288 24.7025 15.9712 25.0118C15.6544 25.3212 15.2751 25.5967 14.8335 25.8383C14.3918 26.08 13.8542 26.2589 13.2205 26.3749C12.0684 26.5875 10.9643 26.4812 9.90819 26.0559C8.85209 25.6305 8.0264 24.9248 7.43114 23.9388C7.20072 23.1847 7.07591 22.5177 7.05671 21.9377C7.0375 21.3577 7.19112 20.7293 7.51755 20.0526C7.76718 19.5306 8.14642 19.0424 8.65527 18.5881C9.16412 18.1337 9.74978 17.7664 10.4122 17.486C11.0747 17.2057 11.7804 17.0414 12.5293 16.993C13.2781 16.9447 14.0174 17.0655 14.7471 17.3555ZM10.1674 24.4898C10.8779 24.5478 11.4203 24.3738 11.7948 23.9678C12.1692 23.5618 12.3708 23.1074 12.3996 22.6047C12.4284 22.102 12.2844 21.6525 11.9676 21.2562C11.6508 20.8598 11.1563 20.7003 10.4842 20.7777C9.9658 20.8357 9.56256 21.058 9.27453 21.4447C8.9865 21.8314 8.82328 22.2422 8.78488 22.6772C8.74648 23.1122 8.83768 23.5134 9.05851 23.8808C9.27933 24.2481 9.64897 24.4511 10.1674 24.4898ZM21.9478 3C23.3495 3 24.6601 3.18851 25.8794 3.56552C27.0987 3.94253 28.1644 4.48872 29.0765 5.20408C29.9886 5.91944 30.7039 6.78947 31.2223 7.81418C31.7408 8.83888 32 9.99893 32 11.2943C32 11.9323 31.8464 12.4108 31.5392 12.7299C31.2319 13.0489 30.9007 13.2132 30.5455 13.2229C30.1902 13.2325 29.859 13.0972 29.5518 12.8169C29.2445 12.5365 29.0909 12.1063 29.0909 11.5263C29.0909 10.753 28.8797 10.0183 28.4572 9.32223C28.0348 8.62621 27.4779 8.01719 26.7867 7.49517C26.0954 6.97315 25.3033 6.5623 24.4104 6.26262C23.5176 5.96294 22.6103 5.8131 21.6886 5.8131C21.0933 5.8131 20.6517 5.6681 20.3636 5.37809C20.0756 5.08808 19.9412 4.76423 19.9604 4.40655C19.9796 4.04887 20.1572 3.72503 20.4932 3.43502C20.8293 3.14501 21.3141 3 21.9478 3ZM21.9478 7.64017C23.7336 7.64017 25.0873 8.09936 26.009 9.01772C26.9307 9.93609 27.3915 11.3233 27.3915 13.1794C27.3915 13.7594 27.2955 14.1702 27.1035 14.4119C26.9115 14.6536 26.7003 14.7599 26.4698 14.7309C26.2394 14.7019 26.0282 14.5618 25.8362 14.3104C25.6442 14.0591 25.5482 13.7207 25.5482 13.2954C25.5482 12.1547 25.2217 11.246 24.5689 10.5693C23.916 9.89259 23.0423 9.55424 21.9478 9.55424C21.583 9.55424 21.3141 9.45274 21.1413 9.24973C20.9685 9.04672 20.8821 8.82922 20.8821 8.59721C20.8821 8.3652 20.9733 8.14769 21.1557 7.94468C21.3381 7.74168 21.6022 7.64017 21.9478 7.64017Z"
						fill="black"></path>
				</svg>
			</a>
			<a
				href="https://music.163.com/#/user/home?id=2119147"
				target="_blank"
			>
				<span class="sr-only">Follow Thirking on NetEase</span>
				<svg width="32" height="32" viewBox="0 0 32 32">
					<path
						d="M16 1C7.16283 1 0 7.93899 0 16.5C0 25.061 7.16283 32 16 32C24.8372 32 32 25.061 32 16.5C32 7.93899 24.8372 1 16 1ZM23.4732 21.2898C22.8201 23.098 21.0091 24.8142 18.8647 25.6107C17.7276 26.0436 15.4303 26.1895 14.1821 25.9001C8.5639 24.6325 5.69229 17.7474 8.6959 12.7759C9.68476 11.1314 12.3711 8.90816 13.36 8.90816C13.5846 8.90816 13.9204 9.07194 14.0871 9.25141C14.6846 9.88406 14.3859 10.3552 12.781 11.4567C10.5046 13.0294 9.5157 14.8017 9.5157 17.2964C9.5157 19.32 10.2985 21.0564 11.8663 22.4474C13.1539 23.5871 14.1798 23.9842 15.9722 24.0021C18.4733 24.0021 20.2634 22.9724 21.3079 20.9286C21.8683 19.827 21.8868 19.6812 21.8127 18.1445C21.7386 16.7535 21.6645 16.4103 21.1782 15.6677C20.6548 14.8533 19.0523 13.7338 18.772 13.9873C18.7165 14.0591 18.8276 14.7456 19.0522 15.5241C19.2584 16.3026 19.4251 17.0968 19.4251 17.2964C19.4251 18.7614 18.2487 20.278 16.8314 20.6594C14.4252 21.292 12.4661 19.5017 12.4661 16.6638C12.4661 14.694 13.4734 13.2111 15.34 12.399L16.0116 12.1096L15.9375 10.5549C15.8448 9.14597 15.8819 8.9463 16.2547 8.47518C17.1695 7.37364 18.6609 6.97431 19.9299 7.49928C20.6942 7.80663 21.4792 8.56492 21.4792 8.9822C21.4792 9.39724 20.9744 9.99399 20.6201 9.99399C20.4904 9.99399 20.0411 9.83247 19.6312 9.61485C18.7165 9.16392 18.3066 9.21776 17.9522 9.83246C17.7276 10.2296 17.7091 10.4472 17.8967 11.0439C18.1028 11.7125 18.1954 11.7843 19.0152 11.9839C21.1226 12.473 22.5422 13.7002 23.3805 15.7619C23.9201 17.0968 23.978 19.9347 23.4732 21.2898Z"
						fill="currentColor"></path>
					<path
						d="M15.2009 14.3551C14.6005 14.7451 14 15.9562 14 16.8331C14 17.5743 14.4888 18.6086 14.9379 18.8629C15.7618 19.3304 17 18.5311 17 17.5355C17 17.2424 16.851 16.3244 16.6811 15.4863C16.3064 13.827 16.1761 13.7301 15.2009 14.3551Z"
						fill="currentColor"></path>
				</svg>
			</a>

			<a href="https://github.com/thirking" target="_blank">
				<span class="sr-only">Go to my GitHub profile</span>
				<svg
					viewBox="0 0 16 16"
					aria-hidden="true"
					width="32"
					height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
